<!DOCTYPE html>
<html>
<head>
	<title>RPG Adventure</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/img/favicon.png">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/dado.css">
	<script src="/socket.io/socket.io.js" charset="utf-8"></script>
	<script type="text/javascript">
		 var url = '<%= pj.img %>';
		 var url_vic = '<%= pj.img_vic %>';
	</script>
</head>
<body>
	<div class="container-fluid">
	<div class="row"> 
		<div id="lat-izq" class="col-lg-2 col-md-2 col-sm-1" style="padding: 20px 0 0 20px">
			<div class="row col-lg-12 col-md-12 col-sm-12 ">
				<h3 class="col-lg-6 col-md-6 col-sm-6" style="padding: 0; margin: 0">Usuario: </h3><h2 id="h2user" class="col-lg-6 col-md-6 col-sm-6" style="padding: 0; margin: 0"><%= info.username %></h2>
			</div>	
			<div class="row col-lg-12 col-md-12 col-sm-12 " style="margin-top: 20px;">
				<h3 class="col-lg-6 col-md-6 col-sm-6" style="padding: 0; margin: 0">Clase: </h3><h2 id="h2clase" class="col-lg-6 col-md-6 col-sm-6" style="padding: 0; margin: 0"><%= pj.clase %></h2>
			</div>
			<div class="row col-lg-12 col-md-12 col-sm-12 " style="margin-top: 20px;">
				<h3 class="col-lg-6 col-md-6 col-sm-6" style="padding: 0; margin: 0">Dinero: </h3><h2 id="h2cash" class="col-lg-6 col-md-6 col-sm-6" style="padding: 0; margin: 0">0</h2>
			</div>
			<div class="row col-lg-12 col-md-12 col-sm-12 " style="margin-top: 20px;">
				<h3 class="col-lg-6 col-md-6 col-sm-6" style="padding: 0; margin: 0">Nivel: </h3><h2 id="h2lvl" class="col-lg-6 col-md-6 col-sm-6" style="padding: 0; margin: 0">0</h2>
			</div>
			<div class="row col-lg-12 col-md-12 col-sm-12 " style="margin-top: 20px;">
				<h3 class="col-lg-6 col-md-6 col-sm-6" style="padding: 0; margin: 0">Hp: </h3><h2 id="h2hp" class="col-lg-6 col-md-6 col-sm-6" style="padding: 0; margin: 0"><%= pj.hp %>/<%= pj.hp %></h2>
			</div>	
			<div class="row col-lg-12 col-md-12 col-sm-12 " style="margin-top: 20px;">
				<h3 class="col-lg-6 col-md-6 col-sm-6" style="padding: 0; margin: 0">Avatar: </h3><img src="<%= pj.img %>" id="h2ava" class="col-lg-6 col-md-6 col-sm-6" style="padding: 0; margin: 0"></img>
			</div>
		</div>
		<div id="tablero" class="col-lg-8 col-md-8 col-sm-12" style="box-shadow: 4px 5px 34px 8px rgba(0,0,0,0.75); z-index: 998">	

		</div>
		<div id="lat-der" class="col-lg-2 col-md-2 col-sm-1" style="padding: 20px 20px 0 20px ">
			<form>
				<label>Aleja para ver el tablero entero: </label>
				<input id="zoom" type="number" name="zoom" min="400" max="1300" step="75" style="width: 70px">
			</form>
			<div class="wrap">
   				<div id="dice" class="dice dice_1" onclick="play()"></div>
   				<audio id="audio" src="/sounds/dice.wav" ></audio>
    		</div>
    		<p id="result">Clica sobre el dado para saber tus movimientos</p></div>
		</div>
	</div>
	</div>
	<div id="casilla"></div>
	
	
	<script type="text/javascript" src="/js/svg.js"></script>
	<script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="/js/dado.js"></script>
	<script type="text/javascript" src="/js/casillas.js"></script>
	<script type="text/javascript" src="/js/casillas_selec.js"></script>
	<script type="text/javascript" src="/js/avatar.js"></script>
	<script type="text/javascript" src="/js/partida.js"></script>
	<script type="text/javascript" src="/js/custom.js"></script>
	

	<script>
	var audio = new Audio('sounds/soundtrack.wav');
	audio.play();

	function play(){
   		var audio = document.getElementById("audio");
  		audio.play();
    }
    </script>
</body>
</html>